*{
	margin: 0;
	padding: 0;

}


.menu-makanan{
	width: 300px;
	height: 350px;
	margin-right: 50px;
	margin-bottom: 50px;
	overflow: hidden;
	box-shadow: 1px 1px 5px 1px #cdcdcd;
	border-radius: 15px;
	float: center;
	background-color: white;
}

.menu-makanan > img{
		width: 100%;
		height: 50%;
        object-fit: cover;
    
}

.menu-makanan > p{
	width: 100%;
	height: 20%;
	padding: 10px 20px;
	text-overflow: ellipsis;
}

.menu-makanan >a{
	margin: 0px 9px;
	background-color: skyblue;
	color: white;
	padding: 0px 20px;
	text-decoration: none;
	border-radius: 5px;
}

.menu-makanan:hover{
	box-shadow: 1px 1px 5px 0 seagreen;
}

.card{
	width: 100%;
	background-color: grey;
	color: white;
}